/*
Project: Simple Components
Author: Garrett Tallent
Date created: 11/4/2021
Date last modified: 11/4/2021
Description: Stylesheet for all components, organized by component. Components can be layouts, modules, or modules with states.
Author's Notes: This stylesheet attempts to follow SMACSS, however I am just a new developer, so somethings might be kind of wrong.
*/

/*=====Element Selectors=====*/
html{
    font-size:10px;
}

html, body{
    margin:0;
    padding:0;
    background-color: #F5F5F5;
}

p, img, a, body{
    font-size:1.6rem;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

a{
    color:#252525;
    text-decoration: none;
}

a:hover{
    color:rgb(112, 112, 112);
}


div{
    box-sizing: border-box;
}






@media (min-width: 600px){
    p, a, img{
        font-size:2rem;
    }  
}


/*Navbar*/
.l-navbar{
    position:sticky;
    top:0;
    left:0;
    min-height: 6rem;
    width: 100%;
    background-color: #4b8fe2;
    color:whitesmoke;
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-template-rows: 7rem;
}

.l-nav-links{
    display:none;
}

.mobile-nav-button{
    justify-self:right;
    align-self: center;
    padding-right: 2rem;
}

.mobile-nav-button i{
    color:whitesmoke;
    font-size:5rem;
}

.l-nav-links.mobilebutton-is-pressed{
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #4b8fe2;
}
.l-nav-links a{
    padding:2rem;
    color: whitesmoke;
    min-height: 6rem;
}

.l-nav-links a:hover{
    color:rgb(240, 240, 240);
}

.l-nav-links a.is-active{
    color:rgb(97, 97, 97);
    background-color: #b7d894;
}

@media (min-width:769px) {
    .l-navbar{
        color:#4b8fe2;
    }
    
    .is-mobile{
        display:none;
    }
    
    .mobile-nav-button{
    
        display:none;
    }

    .l-nav-links a{
        color:rgb(97, 97, 97);
        text-decoration: underline 0.15em rgba(0, 0, 0, 0);
        transition: text-decoration-color 600ms, color 600ms;
        padding-left:4rem;
    }

    .l-nav-links a:hover{
        color:#4b8fe2;
        text-decoration-color:#4b8fe2;
    }
    
    .l-nav-links a.is-active{
        text-decoration: underline 0.15em;
        background-color: inherit
    }

    .l-nav-links, .l-nav-links.mobilebutton-is-pressed{
        display: flex;
        justify-content: right;
        padding-right:10rem;
    }
}

/*Navigation Theme*/
.nav-theme{
    background-color: #3276C9;
}

@media (min-width:769px) {
    .nav-theme{
        background-color: whitesmoke;
        box-shadow: 0px 0px 10px rgb(46, 46, 46, 0.5);
    }
}
.shadow{
    box-shadow: 0px 0px 10px rgb(46, 46, 46, 0.5);
}


/*=====Grids=====*/
.l-growgrid{
    display:grid;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
    gap:10px;
}

@media (min-width:769px) {
    .l-growgrid{
        grid-template-columns: repeat(3, 1fr);
    }
}

.l-growgrid > *{
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    margin:2rem;
    box-shadow: 5px 5px 6px rgb(39, 39, 39);
    transition: background-color 300ms, color 300ms;
}

.l-growgrid > a:hover{
    background-color: rgb(39, 39, 39);
    color:whitesmoke;
}

/*Grid Theme Styling*/
.rounded{
    border-radius: 2rem;
}




/*Body*/
.l-body{
    min-height: calc(100vh - 13rem);
    margin:auto;
}

/*Footer*/
.l-foot{
    min-height: 6rem;
    display:flex;
    justify-content: center;
    gap:2rem;
    padding:2rem;
}

/*Front Page*/
.l-front{
    height: calc(100vh - 6rem);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    text-align: center;
}
