/*
Project: Simple Components
Author: Garrett Tallent
Date created: 11/4/2021
Date last modified: 11/4/2021
Description: Stylesheet for all components, organized by component. Components can be layouts, modules, or modules with states.
Author's Notes: This stylesheet attempts to follow SMACSS, however I am just a new developer, so somethings might be kind of wrong.
*/

/*=====Element Selectors=====*/
html{
    font-size:10px;
}

html, body{
    margin:0;
    padding:0;
    background-color: #F5F5F5;
}

p, img, a, body{
    font-size:1.6rem;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    color:#252525;
    text-decoration: none;
}

a:hover{
    color:rgb(240, 240, 240);
}


div{
    box-sizing: border-box;
}






@media (min-width: 600px){
    p, a, img{
        font-size:2rem;
    }  
}


.l-navbar{
    position:sticky;
    top:0;
    left:0;
    min-height: 6rem;
    width: 100%;
    background-color: #4b8fe2;
    color:whitesmoke;
    box-shadow: 0px 0px 10px rgb(46, 46, 46);
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-template-rows: 7rem;
}

.l-nav-links{
    display:none;
}

.mobile-nav-button{
    justify-self:right;
    align-self: center;
    padding-right: 2rem;
}

.mobile-nav-button i{
    font-size:5rem;
}

.l-nav-links.mobilebutton-is-pressed{
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #4b8fe2;
}
.l-nav-links a{
    padding:2rem;
    min-height: 6rem;
}

.l-nav-links a:hover{
    color:rgb(240, 240, 240);
}

.l-nav-links a.is-active{
    background-color: #b7d894;
}

@media (min-width:600px) {
    .l-navbar{
        background-color: whitesmoke;
        color:#4b8fe2;
    }

    .mobile-nav-button{
        display:none;
    }

    .l-nav-links a{
        color:#4b8fe2;
    }

    .l-nav-links a:hover{
        color:rgb(24, 24, 24);
    }
    
    .l-nav-links a.is-active{
        border: 3px dotted #b7d894;
        background-color: whitesmoke;
    }

    .l-nav-links, .l-nav-links.mobilebutton-is-pressed{
        display: flex;
        justify-content: space-around;
    }
}


/*=====Grids=====*/
.l-growgrid{
    display:grid;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
    gap:10px;
}
 
.l-growgrid > *{
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    box-shadow: 5px 5px 6px rgb(39, 39, 39);
}

.rounded{
    border-radius: 2rem;
}
